.tak-widgets-body{
    width: 100%;
    list-style: none;
    margin-top: -40px;
}
.tak-inner-widgets-body{
    direction: ltr;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.li-class{
    width: 30%;
    z-index: 300;
}
.tak-li-widget{
    list-style: none!important;
}