.tak-contacts-body{
    width: 100%;
    margin-top: 50px;
}
.tak-contacts-menu-div {
    position: sticky;
    width: 100%;
    padding: 12px 0;
    padding-left: 30px;
    border-left: 1px solid #E3E3E3;
    top: 105px;
}